// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}

.main-content .module>dl>dd dl dt, .module>dl>dd dl dt {
  flex: 0 0 35%;
  margin: 0;
}

.main-content .module>dl>dd dl dd, .module>dl>dd dl dd {
  margin-left: 5px;
}

@media (min-width: 50rem) {
  .site-header {
      height: 5.75rem;
      max-height: 5.75rem;
      border-bottom: 1px solid #eeebee;
  }
}

@media (min-width: 50rem) {
  .main {
      position: relative;
      max-width: 90rem;
  }
}

